@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black-100: 27 25 25;
  --color-white-100: 255 255 255;
  --color-bone-100: 226 207 192;
  --color-alabaster-100: 250 249 249;
  --color-gray-100: 143 143 143;
  --color-gallery-100: 237 236 235;
}